body {
  background-color: lightblue;
}

h1 {
  color: midnightblue;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 25px;
  margin-right: 15px;
  margin-top: 12px;
  margin-bottom: 10px;
}

h2 {
  color: navy;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 25px;
  margin-right: 15px;
  margin-top: 12px;
  margin-bottom: 10px;
}

h3 {
  color: navy;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 25px;
  margin-right: 15px;
  margin-top: 12px;
  margin-bottom: 10px;
}

p {
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25px;
  margin-right: 15px;
  margin-top: 12px;
  margin-bottom: 10px;
}

a {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

ul.a {
  list-style-type: square;
}

ul.b {
  list-style-type: circle;
}

#main {
  float: left;
  width: 75%;
  margin: 0 5%;
}

#nav {
  text-align: center;
  height: 3.2em;
  line-height: 3.2em;
  background: #FFFFFF;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin: 0 0 30px;
}

#nav li {
  display: inline;
}

#nav a {
  color: #000;
  text-decoration: none;
  margin: 0 -4px 0 -2px;
  padding: 0 30px;
  font-weight: bold;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

#nav a:hover,
#nav a:focus {
  color: #FFF
}
